$color-primary: rgba(255, 255, 255, 1);
$color-footer: rgba(240, 220, 197, 1);
$color-white: white;
$color-dark: #667c66;
$color-text-darker: #647B64;
$color-text-bright: #F3B562;
$color-text-dark: #333333;

$spacing-sm: 5px;
$spacing-md: 15px;
$spacing-lg: 30px;
